* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    background: rgb(31, 39, 73);
    color: white;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    font-size: 14px;
}

ul {
    display: flex;
    list-style-type: none;
}

ul li a {
   padding: 0 15px; 
   text-decoration: none;
   color: white;
}

.subheading {
    display: flex;
    background: rgb(31, 39, 73);
    color: white;
    padding: 75px 0 100px 340px;
    align-items: center;
}

.subheading p {
    padding-right: 265px;
}
