* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    background: rgb(31, 39, 73);
    color: white;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    font-size: 14px;
}

ul {
    display: flex;
    list-style-type: none;
}

ul li a {
   padding: 0 15px; 
   text-decoration: none;
   color: white;
}

.subheading {
    display: flex;
    background: rgb(31, 39, 73);
    color: white;
    justify-content: center;
    padding-bottom: 100px;
    align-items: center;
}

.subheading p {
    padding-right: 265px;
}

.signup {
    margin-top: 10px;;
    height: 30px;
    background: rgb(127, 127, 204);
}

.body-one h2 {
    display: flex;
    padding-top: 50px;
    justify-content: center;
}

.images {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    gap: 70px;
}

.descriptions {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding-top: 10px;
    padding-bottom: 100px;
}

.descriptions .desc-one {
    padding-left: 5px;
}

.descriptions .desc-two {
    padding-left: 5px;
}

.descriptions .desc-three {
    padding-left: 5px;
}

.descriptions .desc-four {
    padding-left: 2px;
}

.body-two {
    font-size: 24px;
    background: rgb(178, 206, 207);
    padding: 100px 0;
    justify-content: center;
}

.body-two .quote {
    display: flex;
    justify-content: center;
}

.author {
    display: flex;
    justify-content: center;
    margin-left: 20%;
    font-weight: bold;
}

.body-three {
    padding: 100px 0;
    background: rgb(58, 87, 214);
    color: white;
    margin: 75px 500px;
    font-size: 18px;
}

.cta-header {
    display:flex;
    justify-content: center;
}

.cta-desc {
    display: flex;
    justify-content: center;
}

.cta {
    height: 30px;
    background: rgb(197, 197, 251);
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height:100px;
    background: rgb(31, 39, 73);
    color: white;
}