* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    background: rgb(31, 39, 73);
    color: white;
    justify-content: space-around;
    align-items: center;
    height: 100px;
}

ul {
    display: flex;
    list-style-type: none;
}

ul li a {
   padding: 0 20px; 
   text-decoration: none;
   color: white;
}

.subheading {
    display: flex;
    background: rgb(31, 39, 73);
    color: white;
}
